# Backend Secrets & Environments
backend/env/
backend/.env
backend/.pytest_cache/

# Python bytecode (all subdirs)
__pycache__/
*.pyc

# Frontend Secrets & Environments
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env

# Mac OS System Files
.DS_Store